<div>
    <h2 id="page-heading">
        <span jhiTranslate="parralalApp.metaTransaction.home.title">Meta Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meta-transaction" [routerLink]="['/meta-transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="parralalApp.metaTransaction.home.createLabel">
            Create new Meta Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="metaTransactions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="parralalApp.metaTransaction.status">Status</span></th>
            <th><span jhiTranslate="parralalApp.metaTransaction.createdDate">Created Date</span></th>
            <th><span jhiTranslate="parralalApp.metaTransaction.lastModifiedDate">Last Modified Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let metaTransaction of metaTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/meta-transaction', metaTransaction.id, 'view' ]">{{metaTransaction.id}}</a></td>
                <td jhiTranslate="{{'parralalApp.TansactonsStatus.' + metaTransaction.status}}">{{metaTransaction.status}}</td>
                <td>{{metaTransaction.createdDate | date:'mediumDate'}}</td>
                <td>{{metaTransaction.lastModifiedDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/meta-transaction', metaTransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meta-transaction', metaTransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'meta-transaction', { outlets: { popup: metaTransaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
